@model SearchPackageViewModel
<h1 class="text-center page-header">Search Packages</h1>

<form class="form-horizontal" asp-controller="Package" asp-action="Search" method="post" role="form" asp-anti-forgery="true">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="input-group col-md-3 pull-right">
        <input asp-for="Location" type="text" class="form-control" placeholder="Search by Location">
        <span class="input-group-btn" id="Search">
            <button type="submit" value="Search" asp-controller="Package" asp-action="Search" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <br />
    <br />
    <br />
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>PackageID</th>
                    <th>PackageName</th>
                    <th>Location</th>
                    <th>Details</th>
                    <th>Price</th>
                    <th>Availability</th>
                    @if (User.IsInRole("Provider"))
                    {
                        <th>Edit Packages</th>
                    }

                    @if (User.IsInRole("Customer"))
                    {
                        <th>Order</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Packages)
                {
                    <tr>
                        <td>@item.PackageId</td>
                        <td><a asp-action="DisplayFeedback" asp-controller="Feedback" asp-route-id="@item.PackageId">@item.PackageName</a></td>
                        <td>@item.Location</td>
                        <td>@item.Details</td>
                        <td>@item.Price</td>
                        <td>@item.Availability</td>

                        @if (User.IsInRole("Provider"))
                        {
                            <td><a asp-action="UpdatePackages" asp-controller="Package" asp-route-id="@item.PackageId">Edit</a></td>
                        }

                        @if (User.IsInRole("Customer"))
                        {
                            <td><a class="btn btn-default" asp-controller="Order" asp-action="OrderPackage" asp-route-id="@item.PackageId">Order Package</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>If you wish to order a Package: <a asp-action="Register" asp-controller="Account">Sign up</a></div>
    </form>
